<div class="card-container">
    <!-- Relaxed -->
    <a
      class="card"
      href="/second-mood?feeling=relaxed"
    >
      <img
        id="relaxed"
        matTooltip="Relaxed"
        title="Relaxed"
        width="200"
        height="200"
        position="margin-right"
        src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExdnA3Z3lwNWo5cHJhNmVpcWtmd2ZlNndhdDA3cXg0aTl1NHQ3OG1obSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/s1qPesR3kciW9qj9Cw/giphy.gif"
      />
    </a>

    <!-- Party -->
    <a
      class="card"
      href="/second-mood?feeling=celebratory"
    >
      <img
        id="celebratory"
        matTooltip="Celebratory"
        title="Celebratory"
        width="170"
        height="170"
        src="https://media.tenor.com/cxTcj3HA0CsAAAAd/mochi-peach.gif"/>
    </a>

    <!-- Anxious -->
    <a
      class="card"
      href="/second-mood?feeling=anxious"
    >
      <img
        id="anxious"
        matTooltip="Anxious"
        title="Anxious"
        width="200"
        height="200"
        src="https://images.squarespace-cdn.com/content/v1/5c92caa4a09a7e3ffc9e2f29/1556466261526-9V1UTXCG6QW8DH4E1CIM/sunday+4.gif"/>
    </a>

    <!-- Romantic -->
    <a
      class="card"
      href="/second-mood?feeling=romantic"
    >
      <img
        id="romantic"
        matTooltip="Romantic"
        title="Romantic"
        width="200"
        height="200"
        src="https://media.tenor.com/ZlndAzfwx80AAAAi/kiss-bubu-dudu.gif"
      />
    </a>

    <!-- Bored -->
    <a
      class="card"
      href="/second-mood?feeling=bored"
    >
      <img
        id="bored"
        matTooltip="Bored"
        title="Bored"
        width="250"
        height="250"
        src="https://media.tenor.com/9DjJ4jUWIBoAAAAi/chabo-days-deer.gif"
      />
    </a>

    <!-- Unsure -->
    <a
      class="card"
      href="/second-mood?feeling=unsure"
    >
      <img
        id="unsure"
        matTooltip="Unsure"
        title="Unsure"
        width="150"
        height="150"
        src="https://media.tenor.com/FwNcjKpHAvcAAAAi/shrug-molang.gif"
      />
    </a>
  </div>

  
