<div class="content" role="main" style="text-align: center;">
  <div class="card" style="display: flex; align-items: center; justify-content: center;">
    <img src="https://c.tenor.com/8McIGu0Tf_QAAAAj/fire-joypixels.gif" style="max-width: 130px;">
    <h1 style="margin: 0; text-align: center;">What has you feeling this way?</h1>
  </div>
</div>

<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 30vh;">
  <button #button1 class="custom-button square-button" (click)="changeColor(button1)" style="margin-bottom: 20px;">Failed My Exam</button>
  <button #button2 class="custom-button square-button" (click)="changeColor(button2)">Partner Dumped Me</button>
</div>


<div style="display: flex; justify-content: space-between; padding: 20px;">
  <!-- Back Button -->
  <button type="button" class="round-button custom-button round-button.clicked"
  style="position: fixed; bottom: 30px; left: 30px; text-align: center;">
    <a routerLink="/first-page"><span style="color: white;">Back</span></a>
  </button>
  <!-- Playlist Button -->
  <button type="button" class="round-button custom-button round-button.clicked"
  style="position: fixed; bottom: 30px; right: 30px; text-align: center;">
    <a routerLink="/third-page"><span style="color: white;">Create my playlist</span></a>
  </button>

</div>

<div>
<footer style="position: fixed; bottom: 0; left: 600px; text-align: center; padding: 20px;">
  Created by Carolina Boitel, Elisa Arenas, and Oliver Peralta&nbsp;</footer>
</div>