<div class="content" role="main" style="text-align: center;">
  <div class="card" style="display: flex; align-items: center; justify-content: center;">
    <img [src]="feelingImageSrc" style="max-width: 130px;">
    <h1 style="margin: 0; text-align: center;">{{ h1Text }}</h1>
  </div>
</div>

<div style="display: flex; flex-direction: column; align-items: center; justify-content: space-between; padding:10px; height: 30vh;">
  <button *ngFor="let buttonLabel of buttonText" class="custom-button square-button" (click)="changeColor($event)">{{ buttonLabel }}</button>
</div>


<div style="display: flex; justify-content: space-between; padding: 20px;">
  <!-- Back Button -->
  <button type="button" class="round-button custom-button round-button.clicked"
  style="position: fixed; bottom: 30px; left: 30px; text-align: center;">
    <a routerLink="/first-page"><span style="color: white;">Back</span></a>
  </button>
  <!-- Playlist Button -->
  <button type="button" class="round-button custom-button round-button.clicked"
  style="position: fixed; bottom: 30px; right: 30px; text-align: center;">
    <a routerLink="/third-page" [queryParams]="{ buttonClicked: selectedButtonText }"><span style="color: white;">Create my playlist</span></a>
  </button>

</div>

<div>
<footer style="position: fixed; bottom: 0; left: 600px; text-align: center; padding: 20px;">
  Created by Carolina Boitel, Elisa Arenas, and Oliver Peralta&nbsp;</footer>
</div>