<p>third-page works!</p>

<div *ngFor="let song of songs">
  <h3>{{ song.title }}</h3>
  <p>Artist: {{ song.artist }}</p>
  <p>Genre: {{ song.genre }}</p>
  <p>Duration: {{ song.duration }}</p>
  <p>Mood: {{ song.mood }}</p>
</div>

  <!-- Back Button -->
  <button type="button" class="round-button custom-button round-button.clicked"
  style="position: fixed; bottom: 30px; left: 30px; text-align: center;">
    <a routerLink="/second-mood"><span style="color: white;">Back</span></a>
  </button>

<div>
  <footer style="position: relative; bottom: 0; text-align: center; padding: 20px;">
    By Carolina Boitel, Elisa Arenas, and Oliver Peralta&nbsp;</footer>
  </div>
