<div class="content" role="main" style="text-align: center;">
  <div class="card" href="/third-mood?feeling=sad" style="display: flex; align-items: center; justify-content: center;">
    <img [src]="feelingImageSrc" style="max-width: 130px;">
  </div>
</div>
  <!-- Possibly use a filterSong function here to only get certain songs -->
<div *ngFor="let song of songs">
  <h3>{{ song.title }}</h3>
  <p>Artist: {{ song.artist }}</p>
  <p>Genre: {{ song.genre }}</p>
  <p>Duration: {{ song.duration }}</p>
  <p>Mood: {{ song.mood }}</p>
</div>

  <!-- Back Button -->
  <button type="button" class="round-button custom-button round-button.clicked"
  style="position: fixed; bottom: 30px; left: 1175px; text-align: center;">
    <a routerLink="/first-mood"><span style="color: white;">Start Over</span></a>
  </button>
  <button type="button" class="round-button custom-button round-button.clicked"
  style="position: fixed; bottom: 30px; left: 30px; text-align: center;">
    <a routerLink="/second-mood"><span style="color: white;">Back</span></a>
  </button>

<div>
  <footer style="position: relative; bottom: 0; text-align: center; padding: 20px;">
    Created by Carolina Boitel, Elisa Arenas, and Oliver Peralta&nbsp;</footer>
  </div>
