<div class="content" role="main" style="text-align: center;">
  <div class="card" href="/third-mood?feeling=sad" style="display: flex; align-items: center; justify-content: center;">
    <img [src]="feelingImageSrc" style="max-width: 130px;">
  </div>
</div>
  <!-- Possibly use a filterSong function here to only get certain songs -->
<table>
  <tr>    
    <th mat-sort-header="Title">Title</th>
    <th mat-sort-header="Artist">Artist</th>
    <th mat-sort-header="Genre">Genre</th>
    <th mat-sort-header="Duration">Duration</th>
    <th mat-sort-header="Mood">Mood</th>
  </tr>

  <tr *ngFor="let song of songs">
    <td>{{ song.title }}</td>
    <td>{{ song.artist }}</td>
    <td>{{ song.genre }}</td>
    <td>{{ song.duration }}</td>
    <td>{{song.mood}}</td>
  </tr>
</table>

  <!-- Back Button -->
  <button type="button" class="round-button custom-button round-button.clicked"
  style="position: fixed; bottom: 30px; left: 1175px; text-align: center;">
    <a routerLink="/first-mood"><span style="color: white;">Start Over</span></a>
  </button>
  <button type="button" class="round-button custom-button round-button.clicked"
  style="position: fixed; bottom: 30px; left: 30px; text-align: center;">
    <a routerLink="/second-mood"><span style="color: white;">Back</span></a>
  </button>

<div>
  <footer style="position: relative; bottom: 0; text-align: center; padding: 20px;">
    Created by Carolina Boitel, Elisa Arenas, and Oliver Peralta&nbsp;</footer>
  </div>
