.custom-button {
    position: relative;
    left: 450px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .round-button {
    border: none;
    border-radius: 50px; /* You can adjust the value to make the button more or less round */
    background-color: rgb(40, 40, 71); /* Set the desired background color */
    color: #ffffff; /* Set the text color */
    padding: 10px 20px; /* Set the padding as needed */
    font-size: 16px; /* Set the font size as needed */
  }
  